In [1]:
#pip install --upgrade pyarrow

In [2]:
import pandas as pd
from pathlib import Path

path = Path("../data/processed/forecasts/2025-10-27/forecasts.parquet")
df = pd.read_parquet(path, engine="pyarrow")

In [3]:
df.shape

(248, 12)

In [4]:
df

,entity,liquidity_group,week_start,target_week_start,horizon,actual_value,y_pred_point,y_pred_p10,y_pred_p50,y_pred_p90,model_type,is_pass_through
0,057,TRR,2025-10-27,2025-11-03,1,NaN,1.269358e+06,NaN,NaN,NaN,lightgbm,False
1,4B9,TRR,2025-10-27,2025-11-03,1,NaN,2.086539e+06,NaN,NaN,NaN,lightgbm,False
2,86W,TRR,2025-10-27,2025-11-03,1,NaN,2.265274e+07,NaN,NaN,NaN,lightgbm,False
3,97C,TRR,2025-10-27,2025-11-03,1,NaN,1.115123e+07,NaN,NaN,NaN,lightgbm,False
4,97R,TRR,2025-10-27,2025-11-03,1,NaN,1.479489e+07,NaN,NaN,NaN,lightgbm,False
...,...,...,...,...,...,...,...,...,...,...,...,...
243,82J,TRR,2025-10-27,2025-11-17,3,NaN,2.712155e+06,NaN,NaN,NaN,lp_passthrough,True
244,17C7,TRP,2025-10-27,2025-11-24,4,NaN,-6.440510e+05,NaN,NaN,NaN,lp_passthrough,True
245,25A4,TRP,2025-10-27,2025-11-24,4,NaN,-2.874903e+06,NaN,NaN,NaN,lp_passthrough,True
246,82J,TRP,2025-10-27,2025-11-24,4,NaN,-6.906674e+05,NaN,NaN,NaN,lp_passthrough,True
247,82J,TRR,2025-10-27,2025-11-24,4,NaN,1.896623e+06,NaN,NaN,NaN,lp_passthrough,True

In [5]:
backtest_path = Path("../data/processed/backtests/2025-04-07/backtest_predictions.parquet")
backtest_df = pd.read_parquet(backtest_path, engine="pyarrow")

In [6]:
backtest_df.shape

(6928, 12)

In [7]:
backtest_df

,entity,liquidity_group,week_start,target_week_start,horizon,actual_value,y_pred_point,y_pred_p10,y_pred_p50,y_pred_p90,model_type,is_pass_through
0,057,TRR,2025-04-14,2025-04-21,1,1206515.25,9.972631e+05,NaN,NaN,NaN,lightgbm,False
1,057,TRR,2025-04-21,2025-04-28,1,1028057.25,1.236846e+06,NaN,NaN,NaN,lightgbm,False
2,057,TRR,2025-04-28,2025-05-05,1,1004180.59,1.281201e+06,NaN,NaN,NaN,lightgbm,False
3,057,TRR,2025-05-05,2025-05-12,1,1307428.94,1.113013e+06,NaN,NaN,NaN,lightgbm,False
4,057,TRR,2025-05-12,2025-05-19,1,671858.35,1.003217e+06,NaN,NaN,NaN,lightgbm,False
...,...,...,...,...,...,...,...,...,...,...,...,...
6923,82J,TRR,2025-09-29,2025-10-27,4,5860156.81,4.931124e+06,NaN,NaN,NaN,lp_passthrough,True
6924,82J,TRR,2025-10-06,2025-11-03,4,NaN,1.124774e+06,NaN,NaN,NaN,lp_passthrough,True
6925,82J,TRR,2025-10-13,2025-11-10,4,NaN,1.927825e+06,NaN,NaN,NaN,lp_passthrough,True
6926,82J,TRR,2025-10-20,2025-11-17,4,NaN,2.795990e+06,NaN,NaN,NaN,lp_passthrough,True
6927,82J,TRR,2025-10-27,2025-11-24,4,NaN,1.896623e+06,NaN,NaN,NaN,lp_passthrough,True